body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.card-container {
  display: block;
  justify-content: space-between;
  padding: 20px;
}

.card {
  align:center;
  width: 23%;
  margin-top: 20px;
  background: linear-gradient(135deg, #74ebd5 0%, #ACB6E5 100%);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: #666;
}

.apply-button {
  display: block;
  margin-top: 15px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(135deg, #FAD961 0%, #F76B1C 100%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, box-shadow 0.3s;
}

.apply-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.sliding-text-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50px;
}

.sliding-text {
  position: absolute;
  top: 0;
  left: 0; /* Start from the left edge */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 18px;
  color: #333;
  animation: slideLeft 20s linear infinite; /* Faster animation */
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
