body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .sign-form {
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .google-button {
    background-color: #DB4437;
    color: #fff;
  }
  
  .facebook-button {
    background-color: #1877F2;
    color: #fff;
  }
  
  .sign-in-button {
    background-color: #333;
    color: #fff;
  }
  
  .button:hover {
    background-color: #444;
  }
  
  .divider {
    text-align: center;
    margin: 15px 0;
    font-weight: bold;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  p {
    margin-top: 15px;
    font-size: 14px;
  }
  